.jumbotron {
  background-color: #3a3a3a;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.questions {
  width: 100%;
  padding: 30px;
  text-align: center;
  font-family: 'Assistant', sans-serif;
  font-size: 40px;

}

.white-envelope {
  color: white;
  font-size: 70px;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: 'Assistant', sans-serif;
  font-size: 20px;
  color: #edefee;
}

h2 {
  color: #94b29e;
}

.social-media {
  margin-top: 15px;
  text-align: center;
  padding-bottom: 10px;
}

.social-media ul li {
  padding: 10px;
}

.social-media ul li a {
  display: inline-block;
  background-color: #3a3a3a;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 16px;
  color: white;
  border: 1px solid rgba(58, 58, 58, 0.8);
  text-align: center;
  transition: width 1s;
  transition-timing-function: ease-out;

  -webkit-transform: rotate(0deg);
 -webkit-transition: all 0.4s;
 -webkit-animation: strobe 10s infinite;
 -moz-transform: rotate(90deg);
 -moz-transition: all 0.4s;
 -moz-animation: strobe 10s infinite;
}

.social-media ul li a:hover{
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
}

.social-media ul li a:hover {
  background: white;
  color: #3a3a3a;
  border-color: white;
  width: 50px;
  height: 50px;
}
