<section id="store">
<div class="jumbotron">
  <p>OUR PRODUCTS</p>

  <!-- 3 COLUMN DEMO  -->
	<div class="col_third">
		<section class="section--yellow wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; -webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;"></section>
	</div>

	<div class="col_third">
		<section class="section--yellow wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;"></section>
	</div>

	<div class="col_third end">
		<section class="section--yellow wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"></section>
	</div>
	<div class="clear"></div>
	<!-- END / 3 COLUMN DEMO -->
  <div class="container-fluid">
    <div class="row">
    <div *ngFor="let image of photos" class="col-md-3 col-sm-4 col-xs-6">
      <div class="thumbnail_container">
        <div class="thumbnail">
            <img src="{{ image.url }}">
            <div class="img_description_layer">
              <h1 class="img_description">{{ image.title }} {{ image.price }}</h1>
            </div>
        </div>
      </div>
  </div>
  </div>
  </div>
</div>
</section>
