.jumbotron {
  background-image: url(../../assets/plant10.jpg);
  padding: 50px;
  margin: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white-box {
  margin: 0;
  padding: 5%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
}

.white-box h1 {
  padding: 2%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 10px;
}

.white-box p {
  font-family: 'Assistant', sans-serif;
}

@media (min-width: 0px) and (max-width: 460px) {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 10px;
  }
}

@media (min-width: 460px) and (max-width: 550px) {
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 15px;
  }
}
