<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li (click)="scrollNav()" class="scrollTop active" ><a href="#">HOME</a></li>
        <li (click)="scrollNav()" ><a href="#about">ABOUT</a></li>
        <li (click)="scrollNav()" ><a href="#store">PRODUCTS</a></li>
        <li (click)="scrollNav()" ><a href="#buy">BUY NOW</a></li>
        <li (click)="scrollNav()" ><a href="#gallery">GALLERY</a></li>
        <li (click)="scrollNav()" ><a href="#links">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
