.navbar-inverse {
background-color: white;
border: none;
-moz-border: none;
-webkit-border: none;
}

.navbar-collapse {
  box-shadow: none;
  text-align: center;

}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
}

 .navbar-nav li a {
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Assistant', sans-serif;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav li {
  float: none;
  display: inline-block;
}

.navbar-nav li a:hover {
    color: #94b29e;
}
.navbar-toggle {
  background-color: #3a3a3a;
  border: #3a3a3a;
}

.navbar-toggle:hover {
  background-color: #3a3a3a;
  border: #3a3a3a;
}


.active[_ngcontent-c1] a[_ngcontent-c1] {
  background-color: white;
  color: black;
  border-bottom: 0.2px solid currentColor;
  padding-bottom: 5px;

}
