.jumbotron {
  background: white;
}
.container {
  background-image: url(../../assets/plant6.jpg);
  background-size: cover;
  padding: 10%;
}

.white-box {
  margin: 0;
  padding: 5%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
}

.white-box h1 {
  padding: 2%;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 10px;
}

.flat-butt {
  border: 0;
  border-radius: 0;
  background: #3a3a3a;
  color: white;
  cursor: pointer;
  outline: 0;
  transition: all 0.5s;
  padding: 10px;

}
.flat-butt a {
  font-family: 'Assistant', sans-serif;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.flat-butt a:after {
  content: '  \00bb';
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.flat-butt:hover a {
  padding-right: 15px;
  color: white;
}

.flat-butt:hover a:after {
  opacity: 1;
  right: 0;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}
